.container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.header {
    height: 132px;
    /*width: 100%;*/
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /*background-color: coral;*/
}

.image {
    width: 132px;
    height: 60px;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid;
}
